.App {
  height: 100%;
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  grid-template-rows: 120px 1fr 120px;
  color: #0087ca;
}

body {
  font-weight: 200;
  cursor: default;
  animation: text-load 3s;
  list-style-type: none;
  font-size: 60px;
}

@keyframes text-load {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

a {
  font-weight: bold;
  color: black;
  font-style: italic;
  text-decoration: none;
  margin-left: 0;
  transition: margin-left 2s;
}

a:hover {
  margin-left: 100px;
  cursor: default;
}

.section-container {
  right: 0;
  position: relative;
  animation: open-component 1s;

  font-weight: bold;
  text-align: justify;
  grid-row-start: 2;
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr;
  color: black;
}

@keyframes open-component {
  0% { right: 1360px; }
  100% { right: 0px; }
}

.title {
  grid-column-start: 2;
  grid-row-start: 3;
  text-align: right;
  top: 80px;
  font-style: italic;
}

h1 {
  position: relative;
  margin: 0;
  animation: open-main-title 1.5s;
  right: -60px;
  /* text-shadow: -5px 5px black; */
}

@keyframes open-main-title {
  0% { right: -860px; }
  100% { right: -60px; }
}

.main-subheading {
  position: relative;
  animation: open-main-subheading 1.5s;
  right: -60px;
  top: 0;
}

@keyframes open-main-subheading {
  0% { top: 620px; }
  100% { top: -0; }
}

h2 {
  text-align: left;
  font-style: italic;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 4px;
}

p {
  margin: 0;
  font-size: 40px;
  font-weight: 200;
  padding-bottom: 40px;
}

.bio-text {
  padding: 0;
  font-weight: 200;
}

.back {
  position: fixed;
  left: 80px;
  top: 40%;
  animation: back-load 1s;
}

@keyframes back-load {
  0% { top: -200%; }
  100% { top: 40%; }
}

.arrow-back {
  font-size: 24px;
  font-style: normal;
  transition: font-size 1s;
  display: inline-block;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.arrow-back:hover {
  margin-left: 0;
  margin-left: 0;
  cursor: default;
  animation: none;
  color: black;
  font-size: 44px;
}

.arrow-diagonal {
  font-style: normal;
  display: inline-block;
  font-size: 24px;
  transform: rotate(-45deg)
}

.ext-link {
  position: relative;
  color: #0087ca;
  font-size: 96px;
}

.ext-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.ext-link:hover {
  margin-left: 0;
  cursor: pointer;
}

.ext-link:hover:after {
  cursor: pointer;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.bio-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.bio-heading {
  padding: 40px;
  font-size: 48px;
}

.bio-image {
  grid-column-start: 2;
  max-width: 100%;
  max-height: 100%;
}

.projects, .contact-links {
  padding-left: 80px;
  padding-right: 80px;
}

.project {
  position: relative;
  top: 0;
  overflow: hidden;
  transition: height 1s;
}

i {
  font-size: 20px;
}