.App {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
}

body {
  cursor: default;
  list-style-type: none;
  font-size: 60px;
  background-color: white;
}

.ext-link {
  position: relative;
  font-size: 96px;
}

.ext-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #12ac7b;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.ext-link:hover {
  margin-left: 0;
  cursor: pointer;
}

.ext-link:hover:after {
  cursor: pointer;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.inline-ext-link {
  font-size: inherit;
  position: relative;
}

.inline-ext-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #12ac7b;;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.inline-ext-link:hover {
  margin-left: 0;
  cursor: pointer;
}

.inline-ext-link:hover:after {
  cursor: pointer;
  transform: scaleX(1);
  transform-origin: bottom left;
}

.section-container {
  right: 0;
  font-weight: bold;
  text-align: justify;
  grid-row-start: 2;
}

.title {
  text-align: center;
  font-style: italic;
  overflow: hidden;
}

h1 {
  position: relative;
  margin-top: 0;
  animation-duration: 1s;
  animation-name: slidein;
  animation-delay: 1s;
}

@keyframes slidein {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: 0%;
  }
}

.main-subheading {
  position: relative;
  animation: open-main-subheading 1.5s;
}

@keyframes open-main-subheading {
  0% { top: 620px; }
  100% { top: -0; }
}

p {
  margin: 0;
  font-size: 40px;
  font-weight: 200;
  padding-bottom: 40px;
}

.projects, .contact-links {
  padding-left: 80px;
  padding-right: 80px;
}

i {
  font-size: 20px;
}

.bio-image {
  display: inline;
  height: 50%;
  width: 50%;
  margin-left: 50%;
  margin-right: 50%;
}

.swiper {
  background-color: red;
  width: 900px;
  /* --swiper-navigation-size: 44px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px; */
  --swiper-navigation-color: green;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  color: black;
}

.nav-menu-hidden {
  height: 0px;
  background-color: pink;
  animation: hide-nav-menu 500ms;
}

.nav-menu {
  height: 400px;
  background-color: pink;
  animation: show-nav-menu 500ms ease-out;
}

@keyframes show-nav-menu {
  from {height: 0px;}
  to {height: 400px;}
}

@keyframes hide-nav-menu {
  from {height: 400px;}
  to {height: 0px;}
}

.menu-bar {
  width: 100%;
  height: 100%;
  background-color: pink;
}

.menu-toggle {
  padding: 0;
  margin: 0;
  width: 70px;
  height: 70px;
  transform: rotate(90deg);
  z-index: 2;
}

.navigation {
  padding: 0;
  margin: 0;
  text-align: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  overflow: hidden;
  box-shadow: 1px 1px 20px green;
}

.nav-link {
  width: max-content;
  padding-left: 0;
  transition: padding-left 1s, opacity .5s;
}

.nav-link-active {
  width: max-content;
  font-weight: bold;
}

.nav-link:hover {
  padding-left: 100px;
  opacity: 50%;
  cursor: default;
}

body.preload * {
  animation-duration: 0s !important;
}


